* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

html,
body,
#root {
  border-radius: 0 !important;
}


/* @media (max-width: 768px) {
  main {
    margin-left: 0 !important;
    padding: 10px !important;
  }
} */
